@import "tailwindcss";

:root {
  --alabaster: #f9fbff;
  --mist: #e4ecf2;
  --iron: #cdd4e5;
  --slate: #777e90;
  --cinder: #141416;
  --dodgerblue: #3e8cff;
  --royalblue: #4323ff;
  --topaz: #00c2a6;
  --light-topaz: #e5f9f6;
  --indigo: #6707fd;
  --light-indigo: #f0e6ff;

  --poppins: "Poppins", var(--font-sans);
}

@theme inline {
  --color-primary: var(--royalblue);
  --color-secondary: var(--dodgerblue);
  --color-highlight-1: var(--topaz);
  --color-highlight-2: var(--indigo);
  --color-light-1: var(--light-topaz);
  --color-light-2: var(--light-indigo);
  --color-text-primary: var(--cinder);
  --color-text-secondary: var(--slate);
  --color-ui-primary: var(--iron);
  --color-ui-secondary: var(--mist);
  --color-canvas: var(--alabaster);

  --font-sans: var(--poppins);

  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem; /* 16px */
  --text-base--line-height: 1.5rem;
  --text-lg: 1.625rem; /* 26px */
  --text-lg--line-height: 1.5rem;
  --text-xl: 2rem; /* 32px */
  --text-xl--line-height: 2rem;

  --shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
}

* {
  outline-color: var(--royalblue);
}

body {
  background: var(--color-canvas);
  color: var(--color-text-primary);
}
